.header {
    padding: 12px 0;
    border-top: 2px solid #ff5f2e;
    box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.15);
}

.navbar-brand a {
    font-weight: 700;
    font-size: 21px;
    &:hover, & {
        color: #ff5f2e;
    }
}