<header class="header">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]=" '' ">
          <span>zerodiabetes.com.br</span>
        </a>
        
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarContent">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      
      <div id="navbarContent" class="navbar-menu">
        
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-danger has-text-lowercase" [routerLink]=" '/enviar-receita' ">
                <strong>envie sua receita</strong>
                <span class="icon">
                  <i class="fas fa-chevron-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>
</header>