<div class="recipe__hero">
  <img [src]="recipe.image" [alt]="recipe.title">
</div>
<div class="container">
<article class="recipe__content">
  <h1 class="recipe__title">{{ recipe.title }}</h1>
  <p>{{ recipe.description }}</p>
  <!-- <div class="recipe__step" *ngFor="let step of recipe.steps">
    <span class="recipe__step-number"></span>
    <h2 class="recipe__step-title">{{ step.title }}</h2>
    <p [innerHTML]="step.description"></p>
    <ng-container *ngIf="step.image">
      <img [src]="step.image" alt="step.title">
    </ng-container>  
  </div> -->
</article>
</div>