.recipe__hero {
    height: 420px;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.recipe {
    &__content {
        padding-bottom: 80px;
    }

    &__title {
        margin-top: 60px;
        margin-bottom: 80px;
        font-size: 36px;
        font-weight: 700;

        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 300px;
            left: 0;
            bottom: -40px;
            height: 5px;
            background-color: #ff5f2e;
        }
    }

    &__description {
        font-weight: 500;
        margin-bottom: 24px;
        font-size: 18px;
    }

    &__step {
        /* padding-left: 80px; */
        padding-bottom: 42px;
        &-number {
            display: inline-block;
            border-radius: 100%;

            $size: 42px;
            width: $size;
            height: $size;
            line-height: $size;

            font-size: 24px;
            text-align: center;
            background: #ff5f2e;
            color: #fff;
        }


        &-title {
            display: inline-block;
            font-size: 24px;
            margin-left: 24px;
            font-weight: 700;
        }
    
        p {
            font-size: 18px;
            margin-left: 66px;
        }
    }

   
}