.section--recipes {
    background-image: url('../../assets/imgs/bgicon1.png'), url('../../assets/imgs/bgicon2.png');
    background-position: 0 40px, right 400px;
    background-repeat: no-repeat, no-repeat;
    background-color: #F6F6F6;
}


@media( min-width: 1024px ) {
    .section--recipes {
        padding-top: 9rem;
    }
}