<section class="section section--recipes">
  <div class="container">
    <app-recipe-list></app-recipe-list>
  </div>
</section>

<section class="section section--addrecipe">
  <form #formElement>
    <div class="field">
      <label class="label">Titulo</label>
      <div class="control">
        <input type="text" class="input" placeholder="ex: Estrogonofe diet" #titleElement>
      </div>
    </div>
    <div class="field">
      <label class="label">Descrição</label>
      <div class="control">
        <textarea class="textarea" placeholder="Adicione uma descrição" #descElement></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input type="submit" value="Enviar" class="submit button is-primary" (click)="submitNewRecipeData($event, titleElement.value, descElement.value)">
      </div>
    </div>
    <!-- <div class="field is-grouped">
      <label class="label">Ingredientes</label>
      <div class="control">
        <input type="text" class="input" placeholder="Quantidade">
      </div>
      <div class="control">
        <input type="text" class="input" placeholder="Quantidade: ex 20g">
      </div>
    </div>
    <div class="field is-grouped">
      <label class="label">Ingredientes</label>
      <div class="control">
        <input type="text" class="input" placeholder="Quantidade">
      </div>
      <div class="control">
        <input type="text" class="input" placeholder="Quantidade: ex 20g">
      </div>
    </div> -->
  </form>
</section>