.hero {
    
    &--border-bottom {
        position: relative;
        border-bottom: 1px solid  rgba(69, 69, 69, 0.3);
    }
}

.fieldset {
    border: none;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #ccc;
    padding: 20px;
}